[submodule "ReplaceWithRegister"]
	path = vim/.vim/pack/bundle/opt/ReplaceWithRegister
	url = https://github.com/vim-scripts/ReplaceWithRegister
[submodule "nvim-lspconfig"]
	path = vim/.vim/pack/bundle/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "vim-closer"]
	path = vim/.vim/pack/bundle/opt/vim-closer
	url = https://github.com/rstacruz/vim-closer
[submodule "vim-colortemplate"]
	path = vim/.vim/pack/bundle/opt/vim-colortemplate
	url = https://github.com/lifepillar/vim-colortemplate
[submodule "vim-commentary"]
	path = vim/.vim/pack/bundle/opt/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim-surround"]
	path = vim/.vim/pack/bundle/opt/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim-lsc"]
	path = vim/.vim/pack/bundle/opt/vim-lsc
	url = https://github.com/natebosch/vim-lsc
[submodule "vim/.vim/pack/bundle/opt/nvim-treesitter"]
	path = vim/.vim/pack/bundle/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "vim/.vim/pack/bundle/opt/gruvbox.nvim"]
	path = vim/.vim/pack/bundle/opt/gruvbox.nvim
	url = https://github.com/ellisonleao/gruvbox.nvim
